@model IvNav.Store.Identity.Web.ViewModels.Account.ConsentAuthorizationViewModel

<h1>Consent</h1>

<form asp-controller="Account" asp-action="ConsentAuthorization" method="post">
    <div class="form-group">
        <div>@Model.ClientName</div>

        <input type="hidden" asp-for="ReturnUrl" />

        <div class="form-footer mt-2 mb-2">
            <button class="btn btn-primary" value="login">Consent</button>
            <button type="button" class="btn btn-secondary" href="@Model.ReturnUrl">Cancel</button>
        </div>

        <partial name="_ValidationSummary" />
    </div>

</form>
