@model IvNav.Store.Identity.Web.ViewModels.SignInViewModel
<h1>Login</h1>

<form asp-controller="Account" asp-action="Login" method="post">
    <div class="form-group">
        <div>@Model.ClientName</div>
        <div>
            <a asp-area="" asp-controller="Account" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl" method="get">
                Register
            </a>
        </div>

        <input type="hidden" asp-for="ReturnUrl" />
        <input type="hidden" asp-for="IsLocalUrl" />

        <div class="form-group">
            <label asp-for="Email">Email address</label>
            <input class="form-control" id="email" asp-for="Email" placeholder="example@gmail.com" />
        </div>

        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input class="form-control" id="password" type="password" asp-for="Password" placeholder="Password" />
        </div>
        <div class="form-group">
            <div class="form-check mt-2 mb-2">
                <input class="form-check-input" asp-for="RememberMe">
                <label class="form-check-label" asp-for="RememberMe">
                    Remember me
                </label>
            </div>
        </div>

        <div class="form-footer mt-2 mb-2">
            <button class="btn btn-primary" value="login">Login</button>
            @if (!Model.IsLocalUrl && !string.IsNullOrEmpty(Model.ReturnUrl))
            {
                <button type="button" class="btn btn-secondary" href="@Model.ReturnUrl">Cancel</button>
            }
            </div>

        <partial name="_ValidationSummary" />

        <partial name="_ExternalLogin" />
    </div>

</form>
